@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    padding: 12px 36px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn.active,
.btn:hover {

    color: black;
    background-color: rgba(228, 197, 144, 1);
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.tab-nav {
    margin: 0 auto;
}

.tab-nav button {
    width: 500px;
    margin-bottom: 5px;
}

.tab-nav ul {
    flex-wrap: nowrap;
    overflow: auto;
}

.tab-nav ul.show {
    display: block;
}

@media (min-width: 150px) {
    .tab-nav {
        max-width: 100%;
        border: 0;
    }

    .tab-nav ul {
        gap: 16px;
        flex-direction: row;
    }
}

@media (min-width: 150px) {
    .mobile-select {
        display: none;
    }

    .tab-nav ul {
        display: flex;
    }
}


@media (max-width: 991px) {
    .form-right {
        display: none;
    }

    .footer-list, .footer-list li {
        display: inline-table;
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    .service {
        display: none;
    }

    .footerListHide {
        display: none;
    }

}

.tab-content{
    /* display: none; */
    margin-top: 30px;
}